<!-- <div class="container-fluid">-->
    <div class="row" data-ng-show="scout_events != undefined">
        <div class="col-sm-8 col-xs-12">
          <select ng-change="selectCategory()" ng-model="category">
            <option ng-repeat="(key, value) in categories">{{key}}</option>
          </select>
          <!-- <span><small>Events found for <i>"{{keywords.join(' or ')}}"</i>:</small></span> -->
          <div class="btn-group btn-group-sm">
            <label ng-repeat="(ds, ds_events) in scout_events_raw"
                class="btn btn-default" btn-checkbox ng-model="$parent.filter.dss[ds]">
                <b>{{ds}}</b>:{{ds_events.date.length}}</label>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <form ng-submit="doSearch()" class="form-inline pull-right">
              <div class="form-group">
                  <input type="text" style="width: auto; float: left; margin-right: 2px;"
                      class="form-control input-sm"
                      ng-model="filter_text"
                      placeholder="Filter by subject, body, author">
                  <button type="button" ng-click="doSearch()"
                    class="btn btn-primary btn-sm" >Search</button>
              </div>
          </form>
        </div>
    </div>

    <div class="row" style="padding-top: 1em;"
        data-ng-show="scout_events != undefined">
        <ul class="list-group timeline" infinite-scroll="paginateEvents()"
            infinite-scroll-distance="0" >
            <li class="list-group-item"
                ng-repeat="event in scout_events">
                <a class="avatar" href="{{event.url}}">
                <i data-ng-show="event.stackoverflow" class="fa fa-stack-overflow fa-2x"></i>
                <i data-ng-show="event.github" class="fa fa-github fa-2x"></i>
                <i data-ng-show="event.mail" class="fa fa-mail-forward fa-2x"></i>
                <i data-ng-show="event.reddit" class="fa fa-reddit fa-2x"></i>
                </a>
                <p><strong><a href="{{event.url}}">{{event.summary}}</a></strong>
                    &bull; <small class="when">{{event.timestamp}}</small>
                    &bull; <small>Type: {{event.type}}</small>
                    &bull; <small>Author:<span ng-bind-html="getEventAuthor(event.author)"></span></small>
                    <span data-ng-show="event.status">
                        &bull; <small>Status: {{event.status}}</small>
                    </span>
                    <span data-ng-show="event.stackoverflow">
                        &bull; <small>Views: {{event.views}}</small>
                        &bull; <small>Score: {{event.score}}</small>
                        &bull; <small>Answers: {{event.answer_count}}</small>
                    </span>
                    <span data-ng-show="event.reddit">
                        &bull; <small>Comments: {{event.num_comments}}</small>
                        &bull; <small>Score: {{event.score}}</small>
                    </span>
                    <span data-ng-show="event.meetup">
                        &bull; <small>Attendees: {{event.yes_rsvp_count}}</small>
                        &bull; <small>Score: {{event.score}}</small>
                    </span>
                </p>
                <div class="event">
                    <span ng-bind-html="parseBody(event.body,'{{keyword}}')"></span>
                    <span data-ng-show="event.body != ''">
                        <a href='' ng-click="event.isCollapsed = !event.isCollapsed">More</a>
                    </span>
                    <div collapse="event.isCollapsed">
                        <div class="well well-lg"><pre>{{event.body}}</pre></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
<!--</div>-->
